.pospic{
  margin-left: 30%;
  margin-top: -55%
}

#imgsize{
  height: 250px;
  width: 250px;
}

#list1{
  margin-left: -40%;
  margin-top: 4%;
    list-style-type: none;
    font-size: 1em;
    font-family: myFont1;
    position: absolute;
}
@font-face {
   font-family:myFont1;
   src: url('Graviola-Regular.otf');
}

#list2{
  margin-left: -5%;
  margin-top: 4%;
  list-style-type: none;
  font-size: 1em;
  font-family: myFont1;
  position: absolute;
}


.imgsize1{
height:200px;
width:200px;

}

#posphoto{
margin-left:17%;
margin-top: -5%;
border: solid white 3px;
height: 180px;
width:60%;


}

#artcover{

  margin-top: -10%;
  -webkit-filter:blur(0px);
  position: absolute;

}


.pos{
  margin-top: 10%;
  margin-left: 25%;
  position: absolute;
}

h4{
  font-family:myFont2;
  font-size:3em;
  color:white;
  margin-left:25%;
  margin-top: -10%;
  -webkit-filter:blur(0px);
  position: absolute;

}

#newlist1{
  margin-left: -35%;
  margin-top: 4%;
    list-style-type: none;
    position: absolute;
    font-size: 1em;
    font-family: myFont1;
}

#newlist2{
  margin-left: 0%;
  margin-top: 4%;
  list-style-type: none;
  position: absolute;
  font-size: 1em;
  font-family: myFont1;
}
/*
#newdropdown {
    margin-left:65%;
    margin-top:-13%;
    position: absolute;
}*/

/************************************/

.table,.table-all{
  border-collapse:collapse;
  border-spacing:0;
  width:15%;
  display:table;}

.table-all
{border:1px solid #ccc;
}

.bordered tr,.table-all tr{
  border-bottom:1px solid #ddd;
}

.striped tbody tr:nth-child(even){
  background-color:#f1f1f1;
}

.table-all tr:nth-child(odd){
  background-color:#fff;
}

.table-all tr:nth-child(even){
  background-color:#f1f1f1;
}

.table td,.table th,.table-all td,.table-all th{
  padding:6px 8px;
  display:table-cell;
  text-align:left;
  vertical-align:top;
}

.table th:first-child,.table td:first-child,.table-all th:first-child,.table-all td:first-child{
  padding-left:16px;
}


.card-4,.hover-shadow:hover{
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
}

.blue,.hover-blue:hover{
  color:#fff!important;
  background-color:#2196F3!important;
}

.container{
  padding:0.01em 16px;

}

/*************************************************/


ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 25%;

}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
    color: black;
    font-size: 1.5em;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-width: 5px;
    border-color:#4CAF50;
}
/***********************************************/
